.colour_white {
    color: white !important; 
}

.bg_white {
    background-color: white !important;
}

.border_blue {
    border: 1px solid #337ab7 !important;
}

.no_padding {
    padding: 0px !important;
}

.no_margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.right_align {
    text-align:right;
}

.five_padding {
    padding: 5px !important;
}

.container h1 img {
    background-color:white; border: 1px solid black !important;
    max-width:100%;
    max-height:auto;
}

.container h1 small {
    vertical-align:bottom !important;
}

#header img {
    max-width:400px;
    width:100%;
    max-height:auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}